#container {
    width: 50%;
    font-family: 'Nunito Sans', sans-serif;
    align-items: center;
    padding: 2em;
    left: 0;
    right: 0;
    margin: auto;
}

#main_content {
    width: 50%;
    font-family: 'Nunito Sans', sans-serif;
    margin: 2em;
    min-height: 190px;
    padding: 2em 0 1em 0;
    background: white;
    color: white;
    position: absolute;
}

.number {
    font-family: 'Nunito Sans', sans-serif;
    color: #536DFE;
    font-weight: 900;
    margin-bottom: -110px;
    font-size: 260px;
}

.hours {
    color: black;
    display: block;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
}

.of {
    margin-top: -30px;
}