body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(244, 245, 246);
  overflow-x: hidden;
}

code {
  font-family: 'Nunito', sans-serif;
}

b {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: rgb(97, 107, 112);
  opacity: 0.8;
  font-size: 15px;
  line-height: 27px;
}

button {
  -webkit-appearance: button;
  border: none;
  background: transparent;
}

input {
  width: 100%;
  border: none;
  background: transparent;
  font-family: 'Nunito', sans-serif;
  opacity: 0.8;
  font-size: 15px;
  line-height: 27px;
  font-weight: 700;
  padding-left: 0px;
}

input:focus {
  outline: none;
}